.user-image {
    width: 35px;
}
mat-toolbar {
    position: sticky !important;
    top: 0;
    z-index: 100;
    font-family: "Montserrat";
    background: rgb(102, 72, 236);
    border: 0;
}
ul {
    li {
        list-style: none;
        font-family: "Montserrat" !important;
    }
}
button {
    border: 0;
    outline: none;
    background: transparent;
    color: white;
}
.mat-menu-item {
    font-family: "Montserrat" !important;
    color: black !important;
}
.user {
    font-size: 18px;
}
.user-image {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.user-image-icon {
    height: 16px;
    font-size: 14px;
}
/*
Usually /deep/ “shadow-piercing” combinator can be used to force a 
style down to child components. This selector had an alias >>> and 
now has another one called ::ng-deep.

since /deep/ combinator has been deprecated, it is recommended to use 
::ng-deep
*/
::ng-deep {
    .mat-menu-content {
        width: 177px;
    }
}
