<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
        <button mat-icon-button (click)="toggleSidebar()">
            <i *ngIf="isToggled" class="fas fa-angle-double-left"></i>
            <mat-icon *ngIf="!isToggled">menu</mat-icon>
        </button>
        <div class="row mr-2 ml-auto">
            <ul>
                <li>
                    <button class="user mt-2 d-flex align-items-center" mat-button [matMenuTriggerFor]="menu">
                        <img class="user-image mr-3 p-2" src="../../assets/user.png" alt="">Admin
                        <mat-icon class="user-image-icon ml-1">expand_more</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>exit_to_app</mat-icon>
                            Cerrar Sesión
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>