<div class="m-3 p-3 shadow bg-white rounded">
    <div class="container-fluid p-3">
        <h2>Reporte de Ventas - La Pikada de la Esquina</h2>
        <br>
        <div class="form-row">
            <div class="d-flex float-left flex-wrap">
                <div class="text-left py-1 mx-2">
                    <label>Desde:</label>
                </div>
                <div class="form-group mx-2">
                    <input (value)="inicio" (change)="onChangeInicio()" name="inicio" type="datetime-local"
                        class="form-control" min="2018-01-01T00:00:00" max="2021-01-01T00:00:00">
                </div>
                <div class="text-left py-1 mx-2">
                    <label>Hasta:</label>
                </div>
                <div class="form-group">
                    <input (value)="fin" (change)="onChangeTermino()" name="fin" type="datetime-local"
                        class="form-control" min="2018-01-01T00:00:00" max="2021-01-01T00:00:00">
                </div>
            </div>
            <div class="d-flex">
                <div class="text-right mx-2">
                    <button class="btn btn-secondary mb-3 mt-auto" (click)="onHoySelected()">Hoy</button>
                </div>
                <div class="text-right mx-2">
                    <button class="btn btn-success mb-3 mt-auto">Mes Actual</button>
                </div>
            </div>
        </div>
        <hr class="rounded">
    </div>
</div>