<div class="m-3 p-3 shadow bg-white rounded">
    <div class="container-fluid p-3">
        <h1>Reporte de Trabajadores de la Picada</h1>
        <br>
        <div class="d-flex justify-content-between mb-2">
            <div class="d-flex float-left flex-wrap">
                <div class="text-left py-1 mx-2">
                    <label>Desde:</label>
                </div>
                <div class="form-group mx-2">
                    <input (change)="onChangeInicio($any($event!.target).value)" name="inicio" type="datetime-local"
                        class="form-control" min="2000-01-01" id="inicio">
                </div>
                <div class="text-left py-1 mx-2">
                    <label>Hasta:</label>
                </div>
                <div class="form-group">
                    <input id="fin" (change)="onChangeTermino($any($event!.target).value)" name="fin"
                        type="datetime-local" class="form-control" min="2000-01-01">
                </div>
            </div>
            <div class="float-right">
                <div class="text-right mx-2">
                    <button class="btn btn-success mb-3 mt-auto" (click)="onYearSelected()">Año 2019</button>
                </div>
            </div>
        </div>
        <hr class="rounded">
        <div class="d-flex flex-column align-items-center justify-content-start w-100 h-100">
            <div class="k-row">
                <div class="k-card">
                    <div class="label">Mesero Más Rentable</div>
                    <div class="value">Pedro Cortéz</div>
                    <div class="value3">$ 450.000</div>
                </div>
                <div class="k-card">
                    <div class="label">Mesero que Atendió Más Personas</div>
                    <div class="value" style="margin-top: 7px;">Jorge Romero</div>
                    <div class="value3">320 Personas</div>
                </div>
                <div class="k-card">
                    <div class="label">Mesero con Más Mesas Atendidas</div>
                    <div class="value" style="margin-top: 7px;">Mauricio Sánchez</div>
                    <div class="value3">22 Mesas.</div>
                </div>
            </div>
        </div>
        <hr class="rounded">
        <div class="justify-content-center">
            <!-- <h2>Ingresos por Período: {{inicioShow}} hasta {{finShow}}</h2> -->
            <div class="d-flex flex-row w-100">
                <div id="meseros-rentables-zona" class="chart d-flex w-100 justify-content-center">
                </div>
            </div>
            <div class="d-flex flex-row w-100">
                <div id="meseros-mas-personas-zona" class="chart d-flex w-100 justify-content-center">
                </div>
            </div>
            <div class="d-flex flex-row w-100">
                <div id="meseros-mas-ventas-zona" class="chart d-flex w-100 justify-content-center">
                </div>
            </div>
        </div>
        <hr class="rounded">
        <div class="justify-content-center">
            <h2>Todas las ventas de un Mesero entre el período: {{inicioShow}} hasta {{finShow}}</h2>
            <div class="form-row">
                <div class="text-left py-1 mx-2">
                    <label style="font-size: 18px;">Mesero:</label>
                </div>
                <div class="form-group">
                    <select class="custom-select" id="tipoCosecha"
                        (change)="onWaiterChanged($any($event!.target).value)">
                        <option value=''>Seleccione un Mesero</option>
                        <ng-container *ngFor="let m of meseros; index as i">
                            <option [value]='m'>{{m}}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
            <kuv-table [items]="ventasByWaiter" [columns]="columns" [actions]="actions"></kuv-table>
        </div>
        <hr class="rounded">
        <div class="justify-content-center">
            <h2>Todas las Ventas Registradas de un Cajero entre el período: {{inicioShow}} hasta {{finShow}}</h2>
            <div class="form-row">
                <div class="text-left py-1 mx-2">
                    <label style="font-size: 18px;">Cajero:</label>
                </div>
                <div class="form-group">
                    <select class="custom-select" id="tipoCosecha"
                        (change)="onWaiterChanged($any($event!.target).value)">
                        <option value=''>Seleccione un Cajero</option>
                        <ng-container *ngFor="let c of cajeros; index as i">
                            <option [value]='c'>{{c}}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
            <kuv-table [items]="ventasByCashier" [columns]="columnsCashier" [actions]="actionsCashier"></kuv-table>
        </div>
    </div>
</div>