#main-container {
    display: flex;
    flex-direction: row;
    max-height: 100vh;
    max-width: 100vw;
}
#content-container {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: 100vh;
}
#content {
    width: 100%;
    height: calc(100% - 70px);
    overflow: auto;
    box-shadow: inset 0 0.5rem 1rem rgba(0, 0, 0, 0.281) !important;
}
:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
mat-drawer {
    width: 300px;
    height: 100%;
    background: rgb(102, 72, 236);
    border: 0;
}
